html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  display: flex;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e2e2e2;
}
body {
  background-color: #fff;
  margin: 0rem;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: right;
}

nav ul li {
  margin: 0 .6em;
  display: inline;
}

nav a {
  text-decoration: none;
  color: #0074d9;
}

a:hover {
  color: #fff;
}
img {
  width: 2rem;
}

header h1 {
  display: inline;
}

header img {
  display: inline;
}

header p {
  display: inline;
  max-width: 25em;
  margin-left: auto;
  margin-right: auto;
}
